<h1>Delte Blog</h1>

<hr>


<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>


<div class="jumbotron">
  <p class="lead">Do you want to delete this Blog Post?</p>
    <button class="btn btn-danger btn-lg" role="button" (click)="deleteBlog()">Yes</button>
    <a class="btn btn-success btn-lg" [routerLink]="['/blog']" role="button">No</a>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ blog.title }}</h3>
  </div>
  <div class="panel-body">
    {{ blog.body }}
  </div>
  <div class="panel-footer">
    <strong>Posted By: </strong>{{ blog.createdBy }}
    <br>
    <strong>Date: </strong>{{ blog.createdAt | date: 'dd-MM-yyyy' }}
    <br>
    <div *ngIf="username === blog.createdBy">
      <strong>Likes: </strong>{{ blog.like }}
      <br>
      <strong>Dislikes: </strong>{{ blog.dislike }}
    </div>


  </div>
</div>