<h1>Register Form</h1>
<hr>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<form [formGroup]="myForm" (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="email">Email address</label>
    <div [ngClass]="{'has-error': (myForm.controls.email.errors && myForm.controls.email.dirty) || (!emailValid && myForm.controls.email.dirty), 'has-success': !myForm.controls.email.errors && emailValid}">
      <input type="email" class="form-control" id="email" name="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email" (blur)="checkEmail()">
      <p class="help-block" *ngIf="myForm.controls.email.errors?.required && myForm.controls.email.dirty">This field is required</p>
      <p *ngIf="emailMessage">{{ emailMessage }}</p>
    </div>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <div [ngClass]="{'has-error': (myForm.controls.username.errors && myForm.controls.username.dirty) || (!usernameValid && myForm.controls.username.dirty) , 'has-success': !myForm.controls.username.errors && usernameValid}">
      <input type="text" class="form-control" id="username" name="username" formControlName="username" aria-describedby="usernameHelp" placeholder="Enter Username" (blur)="checkUsername()">
      <p class="help-block" *ngIf="myForm.controls.username.errors?.required && myForm.controls.username.dirty">This field is required</p>
      <p *ngIf="usernameMessage">{{ usernameMessage }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <div [ngClass]="{'has-error': (myForm.controls.password.errors && myForm.controls.password.dirty) , 'has-success': !myForm.controls.password.errors}">
      <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password" required>
      <p class="help-block" *ngIf="myForm.controls.password.errors?.required && myForm.controls.password.dirty">This field is required</p>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <div [ngClass]="{'has-error': (myForm.controls.confirm.errors && myForm.controls.confirm.dirty) || (myForm.errors?.matchPassword && myForm.controls.confirm.dirty) , 'has-success': !myForm.controls.confirm.errors && !myForm.errors?.matchPassword}">
      <input type="password" class="form-control" id="confirm" name="confirm" formControlName="confirm" placeholder="Confirm Password" required>
      <p class="help-block" *ngIf="myForm.errors?.matchPassword && myForm.controls.confirm.dirty">Password Doesn't Match</p>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid || processing || !emailValid || !usernameValid">Submit</button>
</form>

<hr>

<!-- <p>email: {{ myForm.controls.email.value }}</p>
<p>username: {{ myForm.controls.username.value }}</p>
<p>password: {{ myForm.controls.password.value }}</p> -->